@model IEnumerable<Pharmacy.ViewModels.AddProductViewModel>
@{
    ViewBag.Title = "AddProductPurchase";
}

<style>
    input#productName {
        width: 200px;
    }

    div#panel-4 {
        margin: 130px 0px 0px 0px;
    }

    input#Pack {
        width: 70px;
    }

    input#HSNNumber {
        width: 80px;
    }

    input#BatchNumber {
        width: 80px;
    }

    input#ExpiryDate {
        width: 65px;
    }

    input#Quantity {
        width: 70px;
    }

    input#MRP {
        width: 80px;
    }

    input#GST {
        width: 50px;
    }

    table.invoice {
        margin: 14px 0px 24px 40px;
    }
    button#btnSave {
        width: 200px;
        margin: 20px 0px 0px 600px;
    }
</style>
<div class="col-xl-12">
    <div id="panel-4" class="panel">
        <button id="btnSave" type="button" class="btn btn-primary">Save</button>	
        <div class="panel-container show">
            <div class="panel-content">
                <div class="row invoice-det">
                    <table class="invoice">
                        <tr>
                            <td>
                                <input id="InvoiceId" name="invoiceId" required type="text" class="form-control" placeholder="Invoice Id" />
                            </td>
                            <td class="dateOfInvoice">
                                <input id="InvoiceDate" type="text" name="InvoiceDate" required class="form-control datepicker" placeholder="Date" />
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="row">
                    <table id="tblProducts" class="table">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Pack</th>
                                <th>HSN</th>
                                <th>Batch</th>
                                <th>Expiry</th>
                                <th>Qty.</th>
                                <th>Free</th>
                                <th>M.R.P</th>
                                <th>Rate</th>
                                <th>CGST</th>
                                <th>UTGST</th>
                                <th>IGST</th>
                                <th>Amount</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="product"><input type="text" placeholder="Enter Product Name" class="form-control" id="productName" /></td>
                                <td><input type="text" class="form-control" placeholder="10x10" id="Pack" /></td>
                                <td><input type="text" class="form-control" id="HSNNumber" /></td>
                                <td><input type="text" class="form-control" id="BatchNumber" /></td>
                                <td><input type="text" class="form-control" id="ExpiryDate" /></td>
                                <td><input type="text" class="form-control" id="Quantity" /></td>
                                <td><input type="text" class="form-control" id="free" /></td>
                                <td><input type="text" class="form-control" id="MRP" /></td>
                                <td><input type="text" class="form-control" id="Rate" /></td>
                                <td><input type="text" class="form-control" placeholder="%" id="CGST" /></td>
                                <td><input type="text" class="form-control" placeholder="%" id="UTGST" /></td>
                                <td><input type="text" class="form-control" placeholder="%" id="IGST" /></td>
                                <td><input type="text" disabled="disabled" class="form-control" id="Amount" /></td>
                                <td><button type="button" class="form-control btn btn-sm btn-danger" id="btnAdd" value="Add" />Add</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    $("#Rate").on("change", function () {
        var rate = $("#Rate").val();
        var quantity = $("#Quantity").val();
        var totalAmount = rate * quantity;

        $("#Amount").val(totalAmount);
    });

    $("#GST").on("change", function () {
        var mrp = $("#MRP").val();
        var gst = $("#GST").val();

        var percentageValue = getGstValue(gst);
        var taxlessPrice = (mrp / percentageValue).toFixed(2);

        var twentyPercentDiscountOnTaxlessPrice = (0.2 * taxlessPrice).toFixed(2);
        var finalPriceAfterfirstPercentage = (taxlessPrice - twentyPercentDiscountOnTaxlessPrice).toFixed(2);

        var tenPercentDiscount = (0.1 * finalPriceAfterfirstPercentage).toFixed(2);
        var sellingPriceAmount = (finalPriceAfterfirstPercentage - tenPercentDiscount).toFixed(2);

        $("#SP").val(sellingPriceAmount);
    });

    $("#MRP").on("change", function () {
        debugger;
        var mrp = $("#MRP").val();
        var gst = $("#GST").val();

        var percentageValue = getGstValue(gst);

        var taxlessPrice = (mrp / percentageValue).toFixed(2);

        var twentyPercentDiscountOnTaxlessPrice = (0.2 * taxlessPrice).toFixed(2);
        var finalPriceAfterfirstPercentage = (taxlessPrice - twentyPercentDiscountOnTaxlessPrice).toFixed(2);

        var tenPercentDiscount = (0.1 * finalPriceAfterfirstPercentage).toFixed(2);
        var sellingPriceAmount = (finalPriceAfterfirstPercentage - tenPercentDiscount).toFixed(2);

        $("#SP").val(sellingPriceAmount);
    });

    $("#Quantity").on("change", function () {
        var rate = $("#Rate").val();
        var quantity = $("#Quantity").val();
        var totalAmount = rate * quantity;
        $("#Amount").val(totalAmount);
    });

    $("body").on("click", "#btnAdd", function () {
        debugger;
        //Reference the Name and Country TextBoxes.
        var productName = $("#productName");
        var Pack = $("#Pack");
        var HSNNumber = $("#HSNNumber");
        var BatchNumber = $("#BatchNumber");
        var ExpiryDate = $("#ExpiryDate");
        var Quantity = $("#Quantity");
        var free = $("#free");
        var MRP = $("#MRP");
        var Rate = $("#Rate");
        var CGST = $("#CGST");
        var UTGST = $("#UTGST");
        var IGST = $("#IGST");
        var Amount = $("#Amount");

        // Check the validation in form-fields
        if (productName[0].value == "") {
            alert("Product name is mandatory");
            $("#productName").css("border", "1px solid red");
            $("#productName").focus();
            return false;
        }
        if (Pack[0].value == "") {
            alert("Pack is mandatory")
            $("#Pack").css("border", "1px solid red");
            $("#Pack").focus();
            return false;
        }
        if (HSNNumber[0].value == "") {
            alert("HSN Number is mandatory")
            $("#HSNNumber").css("border", "1px solid red");
            $("#HSNNumber").focus();
            return false;
        }
        if (BatchNumber[0].value == "") {
            alert("Batch Number is mandatory");
            $("#BatchNumber").css("border", "1px solid red");
            $("#BatchNumber").focus();
            return false;
        }
        if (ExpiryDate[0].value == "") {
            alert("Expiry Date is mandatory");
            $("#ExpiryDate").css("border", "1px solid red");
            $("#ExpiryDate").focus();
            return false;
        }
        if (Quantity[0].value == "") {
            alert("Quantity is mandatory");
            $("#Quantity").css("border", "1px solid red");
            $("#Quantity").focus();
            return false;
        }
        if (MRP[0].value == "") {
            alert("MRP is mandatory");
            $("#MRP").css("border", "1px solid red");
            $("#MRP").focus();
            return false;
        }
        if (Rate[0].value == "") {
            alert("Rate is mandatory");
            $("#Rate").css("border", "1px solid red");
            $("#Rate").focus();
            return false;
        }
        if (Amount[0].value == "") {
            alert("Amount is mandatory");
            $("#Amount").css("border", "1px solid red");
            $("#Amount").focus();
            return false;
        }



        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblProducts > TBODY")[0];

        //Add Row.
        var row = tBody.insertRow(-1);

        //Add Name cell.
        var cell = $(row.insertCell(-1));
        cell.html(productName.val());
        //Add Country cell.
        cell = $(row.insertCell(-1));
        cell.html(Pack.val());
        //Add HSN cell.
        cell = $(row.insertCell(-1));
        cell.html(HSNNumber.val());
        //Add BATCH cell.
        cell = $(row.insertCell(-1));
        cell.html(BatchNumber.val());
        //Add Expiry cell.
        cell = $(row.insertCell(-1));
        cell.html(ExpiryDate.val());
        //Add Quantity cell.
        cell = $(row.insertCell(-1));
        cell.html(Quantity.val());
        //Add free cell
        cell = $(row.insertCell(-1));
        cell.html(free.val());
        //Add MRP cell.
        cell = $(row.insertCell(-1));
        cell.html(MRP.val());
        //Add Rate cell.
        cell = $(row.insertCell(-1));
        cell.html(Rate.val());
        //Add CGST cell.
        cell = $(row.insertCell(-1));
        cell.html(CGST.val());
        //Add UTGST cell.
        cell = $(row.insertCell(-1));
        cell.html(UTGST.val());
        //Add IGST cell.
        cell = $(row.insertCell(-1));
        cell.html(IGST.val());
        //Add amount cell.
        cell = $(row.insertCell(-1));
        cell.html(Amount.val());

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<button />");
        btnRemove.addClass("form-control")
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.text("Remove");
        cell.append(btnRemove);

        //Clear the TextBoxes.
        productName.val("");
        Pack.val("");
        HSNNumber.val("");
        BatchNumber.val("");
        ExpiryDate.val("");
        Quantity.val("");
        free.val("");
        MRP.val("");
        Rate.val("");
        CGST.val("");
        UTGST.val("");
        IGST.val("");
        Amount.val("");
    });

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete: " + name)) {
            //Get the reference of the Table.
            var table = $("#tblProducts")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    $("body").on("click", "#btnSave", function () {
        //Loop through the Table rows and build a JSON array.
        var InvoiceDate = $("#InvoiceDate").val();
        var InvoiceId = $("#InvoiceId").val();


        if (InvoiceId == "") {
            alert("Invoice Id is mandatory");
            $("#InvoiceId").css("border", "1px solid red");
            $("#InvoiceId").focus();
            return false;
        }

        if (InvoiceDate == "") {
            alert("Invoice Date is mandatory");
            $("#InvoiceDate").css("border", "1px solid red");
            $("#InvoiceDate").focus();
            return false;
        }
       

        var products = new Array();
        $("#tblProducts TBODY TR").each(function () {
            var row = $(this);
            var purchaseProducts = {};
            purchaseProducts.productName = row.find("TD").eq(0).html();
            purchaseProducts.pack = row.find("TD").eq(1).html();
            purchaseProducts.HSNNumber = row.find("TD").eq(2).html();
            purchaseProducts.BatchNumber = row.find("TD").eq(3).html();
            purchaseProducts.ExpiryDate = row.find("TD").eq(4).html();
            purchaseProducts.quantity = row.find("TD").eq(5).html();
            purchaseProducts.free = row.find("TD").eq(6).html();
            purchaseProducts.MRP = row.find("TD").eq(7).html();
            purchaseProducts.Rate = row.find("TD").eq(8).html();
            purchaseProducts.CGST = row.find("TD").eq(9).html();
            purchaseProducts.UTGST = row.find("TD").eq(10).html();
            purchaseProducts.IGST = row.find("TD").eq(11).html();
            purchaseProducts.amount = row.find("TD").eq(12).html();
            products.push(purchaseProducts);

        });

       

        var obj = {
            "products": products,
            "invoiceNumber": InvoiceId,
            "invoiceDate": InvoiceDate
        }


        console.log(InvoiceDate, InvoiceId)
        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Dashboard/AddProductPurchase",
            data: JSON.stringify(obj),
            contentType: "application/json",
            dataType: "json",
            success: function (r) {
                alert(r + " record(s) inserted.");
                window.location.href = '/Dashboard/ViewSuppliers'
            }
        });
    });

    function getGstValue(value) {
        debugger;
        switch (value) {
            case "12":
                return 1.12;
                break;
            case "13":
                return 1.13;
                break;
            case "14":
                return 1.14;
                break;
            case "15":
                return 1.15;
                break;
            case "16":
                return 1.16;
                break;
            case "17":
                return 1.17;
                break;
            case "18":
                return 1.18;
                break;
            case "19":
                return 1.19;
                break;
            case "20":
                return 1.20;
                break;
            case "21":
                return 1.21;
                break;
            case "22":
                return 1.22;
                break;
            case "23":
                return 1.23;
                break;
            case "24":
                return 1.24;
                break;
            case "25":
                return 1.25;
                break;
            default:
                return 1.12;
        }
    }


</script>

