
@{
    ViewBag.Title = "AddSale";
}

<h2>Purchase Product From The Supplier <b>"@ViewData["DistributorName"]"</b></h2>

<ol class="breadcrumb page-breadcrumb">
    <li class="breadcrumb-item"><a href="dashboard.html">My Dashboard</a></li>
    <li class="breadcrumb-item">Supplier</li>
    <li class="breadcrumb-item active">Make Purchase</li>
    <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
</ol>

<div class="row" id="purchase-form">
   
    <div class="col-xl-12">
        <div id="panel-4" class="panel">
            <div class="panel-container show">
                <div class="panel-content">
                    <h6 style="color:red">Notes*</h6>
                    <ol type="bullet">
                        <li style="color:skyblue">Discount % for all row should be same if enetered it can be null but if entered in any row then it should be same for all rows if needed. </li>
                        <li style="color:skyblue">GST % should be same for all rows.</li>
                        <li style="color:skyblue">Pack should be in the format of multiplication for example:  10x10.</li>
                        <li style="color:skyblue">Each row should select different product.</li>
                        <li style="color:skyblue">Product once entered cannnot be modified.</li>
                    </ol>
                    <div class="row">
                        <table id="tblProducts" class="table">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Pack</th>
                                    <th>HSN Number</th>
                                    <th>Batch Number</th>
                                    <th>Expiry</th>
                                    <th>Quantity</th>
                                    <th>M.R.P</th>
                                    <th>Rate</th>
                                    <th>GST %</th>
                                    <th>Discount</th>
                                    <th>Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>
                                        @Html.DropDownList("ModelName", ViewBag.listProducts as SelectList, "Select Product", new { @class = "form-control", id = "itemDropDown", onchange = "getItemDetails()" })
                                    </td>
                                    <td><input type="text" class="form-control" id="Pack" /></td>
                                    <td><input type="text" disabled="disabled" class="form-control" id="HSNNumber" /></td>
                                    <td><input type="text" disabled="disabled" class="form-control" id="BatchNumber" /></td>
                                    <td><input type="text" disabled="disabled" class="form-control" id="ExpiryDate" /></td>
                                    <td><input type="text" class="form-control" id="Quantity" /></td>
                                    <td><input type="text" disabled="disabled" class="form-control" id="MRP" /></td>
                                    <td><input type="text" disabled="disabled" class="form-control" id="SP" /></td>
                                    <td><input type="text" class="form-control" id="GST" /></td>
                                    <td><input type="text" class="form-control" id="Discount" /></td>
                                    <td><input type="text" disabled="disabled" class="form-control" id="Amount" /></td>
                                    <td><button type="button" class="form-control btn btn-sm btn-danger" id="btnAdd" value="Add" />Add</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="btnSave" type="button" class="btn btn-primary btn-lg">Save</button>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script type="text/javascript">

    function getItemDetails() {
        var productId = $("#itemDropDown").val();
        var productName = $("#itemDropDown option:selected").html();
        console.log(productName);
        $.ajax({
            url: '/Dashboard/GetProductDetails',
            type: 'POST',
            datatype: 'json',
            contentType: 'application/json',
            data: JSON.stringify({ productId: +productId }),
            success: function (result) {
                if (result == null) {
                    $("#HSNNumber").val('');
                    $("#BatchNumber").val('');
                    $("#ExpiryDate").val('');
                    $('#MRP').val('');
                    $("#SP").val('');
                } else {
                    console.log(result);
                    $("#HSNNumber").val(result.HSNNumber);
                    $("#BatchNumber").val(result.BatchNumber);
                    $("#ExpiryDate").val(result.ExpiryDate);
                    $('#MRP').val(result.MRP);
                    $("#SP").val(result.SellingPrice);
                }

            },
            error: function (result) { alert(result) },
        });
    }

    $("#SP").on("change", function () {
        var costPrice = $("#SP").val();
        var quantity = $("#Quantity").val();
        var totalAmount = (costPrice * quantity).toFixed(2);
        $("#Amount").val(totalAmount);
    });

    $("#Quantity").on("change", function () {
        var costPrice = $("#SP").val();
        var quantity = $("#Quantity").val();
        var totalAmount = costPrice * quantity;
        $("#Amount").val(totalAmount);
    });

    $("body").on("click", "#btnAdd", function () {
        //Reference the Name and Country TextBoxes.
        var Pack = $("#Pack");
        var HSNNumber = $("#HSNNumber");
        var BatchNumber = $("#BatchNumber");
        var ExpiryDate = $("#ExpiryDate");
        var Quantity = $("#Quantity");
        var Mrp = $("#MRP");
        var SP = $("#SP");
        var GST = $("#GST");
        var Discount = $("#Discount");
        var Amount = $("#Amount");
        var productName = $("#itemDropDown option:selected");
       

        //Get the reference of the Table's TBODY element.
        var tBody = $("#tblProducts > TBODY")[0];

        //Add Row.
        var row = tBody.insertRow(-1);

        cell = $(row.insertCell(-1));
        cell.html(productName.val());

        //Add Country cell.
        cell = $(row.insertCell(-1));
        cell.html(Pack.val());
        //Add HSN cell.
        cell = $(row.insertCell(-1));
        cell.html(HSNNumber.val());
        //Add BATCH cell.
        cell = $(row.insertCell(-1));
        cell.html(BatchNumber.val());
        //Add Expiry cell.
        cell = $(row.insertCell(-1));
        cell.html(ExpiryDate.val());
        //Add Quantity cell.
        cell = $(row.insertCell(-1));
        cell.html(Quantity.val());
        //Add Mrp Cell.
        cell = $(row.insertCell(-1));
        cell.html(Mrp.val());
        //Add SP cell.
        cell = $(row.insertCell(-1));
        cell.html(SP.val());
      
        //Add GST cell.
        cell = $(row.insertCell(-1));
        cell.html(GST.val());

        //Add Discount cell.
        cell = $(row.insertCell(-1));
        cell.html(Discount.val());

        //Add amount cell.
        cell = $(row.insertCell(-1));
        cell.html(Amount.val());

        //Add Button cell.
        cell = $(row.insertCell(-1));
        var btnRemove = $("<button />");
        btnRemove.addClass("form-control")
        btnRemove.attr("type", "button");
        btnRemove.attr("onclick", "Remove(this);");
        btnRemove.text("Remove");
        cell.append(btnRemove);

        //Clear the TextBoxes.
        Pack.val("");
        HSNNumber.val("");
        BatchNumber.val("");
        ExpiryDate.val("");
        Quantity.val("");
        Mrp.val("");
        SP.val("");
        GST.val("");
        Discount.val("");
        Amount.val("");
    });

    function Remove(button) {
        //Determine the reference of the Row using the Button.
        var row = $(button).closest("TR");
        var name = $("TD", row).eq(0).html();
        if (confirm("Do you want to delete: " + name)) {
            //Get the reference of the Table.
            var table = $("#tblProducts")[0];

            //Delete the Table row using it's Index.
            table.deleteRow(row[0].rowIndex);
        }
    };

    $("body").on("click", "#btnSave", function () {
        debugger;
        //Loop through the Table rows and build a JSON array.
        var products = new Array();
        $("#tblProducts TBODY TR").each(function () {
            var row = $(this);
            var purchaseProducts = {};
            purchaseProducts.id = row.find("TD").eq(0).html();
            purchaseProducts.pack = row.find("TD").eq(1).html();
            purchaseProducts.HSNNumber = row.find("TD").eq(2).html();
            purchaseProducts.BatchNumber = row.find("TD").eq(3).html();
            purchaseProducts.ExpiryDate = row.find("TD").eq(4).html();
            purchaseProducts.Quantity = row.find("TD").eq(5).html();
            purchaseProducts.MRP = row.find("TD").eq(6).html();
            purchaseProducts.SP = row.find("TD").eq(7).html();
            purchaseProducts.gst = row.find("TD").eq(8).html();
            purchaseProducts.Discount = row.find("TD").eq(9).html();
            purchaseProducts.Amount = row.find("TD").eq(10).html();
            products.push(purchaseProducts);
        });
        console.log(products);
        //Send the JSON array to Controller using AJAX.
        $.ajax({
            type: "POST",
            url: "/Dashboard/AddSale",
            data: JSON.stringify(products),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
                alert(r + " record(s) inserted.");
                window.location.href = '/Dashboard/ViewDistributors'
            }
        });
    });

</script>

